.slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.offer__slide {
    width: 500px;
    height: 500px;
}

.b {
    background-color: blue;
}

.g {
    background-color: green;
}

.y {
    background-color: yellow;
}